//
// Colors
// ----------------------------------------------------------------------------------

// link colors
$default-link-color: #4287c8 !default;
$default-hover-color: #f7ab00 !default;

// focus colors
$default-focus-color: #129fea !default;

// grayscale colors
$default-body-color: #717171 !default;
$default-note-color: #cccccc !default;
$default-background-color: #f4f4f4 !default;
$default-border-color: #eeeeee !default;
$default-darken-border-color: #dddddd !default;

// various colors
$default-danger-color: #cc003a !default;
$default-primary-color: #303b86 !default;
$default-warning-color: #fdab39 !default;
$default-success-color: #729755 !default;
$default-info-color: #273485 !default;

// border radius
$default-border-radius: 4px !default;

// caret size
$caret-size: 5px !default;
