@import "icons";
@import "variables";
@import "mixins";
@import "compass/css3/inline-block";

.tip {
  position: relative;
  left: 0px;
  z-index: 20;
  padding: 0 10px;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  @include inline-block(middle);
  border: 1px solid white;
  color: $default-note-color;
  border-radius: $default-border-radius;

  .tip-icon {
    float: left;
    margin-right: 4px;

    i {
      width: 16px;
      height: 16px;
      margin-top: 5px;
      @include inline-block(baseline);
    }
  }

  .tip-message {
    float: left;

    p {
      margin: 0;
    }
  }
}

.tip-success {
  @include tip-color($default-success-color);
}

.tip-warning{
  @include tip-color($default-warning-color);
}

.tip-error {
  @include tip-color($default-danger-color);
}

.tip-info {
  @include tip-color($default-info-color);
}

.parent-position {
  position: relative;
}

.tip {
  position: absolute;
}

