.icon-error {
  width: 16px;
  height: 16px;
  background: url(images/icons.png) -0px -0px no-repeat;
}
.icon-info {
  width: 16px;
  height: 16px;
  background: url(images/icons.png) -16px -0px no-repeat;
}
.icon-success {
  width: 16px;
  height: 16px;
  background: url(images/icons.png) -0px -16px no-repeat;
}
.icon-warning {
  width: 16px;
  height: 16px;
  background: url(images/icons.png) -16px -16px no-repeat;
}
