/* line 5, app/styles/app.scss */
.tip {
  position: relative;
  left: 0px;
  z-index: 20;
  padding: 0 10px;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border: 1px solid white;
  color: #cccccc;
  border-radius: 4px;
}
/* line 18, app/styles/app.scss */
.tip .tip-icon {
  float: left;
  margin-right: 4px;
}
/* line 22, app/styles/app.scss */
.tip .tip-icon i {
  width: 16px;
  height: 16px;
  margin-top: 5px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: baseline;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 30, app/styles/app.scss */
.tip .tip-message {
  float: left;
}
/* line 33, app/styles/app.scss */
.tip .tip-message p {
  margin: 0;
}

/* line 39, app/styles/app.scss */
.tip-success {
  color: #729755;
  border-color: #dbe6d2;
  background-color: white;
  white-space: nowrap;
}
/* line 23, app/styles/_mixins.scss */
.tip-success.up:before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  top: -12px;
  left: 10px;
  border-color: transparent transparent #dbe6d2 transparent;
}
/* line 30, app/styles/_mixins.scss */
.tip-success.up:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  top: -11px;
  left: 10px;
  border-color: transparent transparent white transparent;
}
/* line 39, app/styles/_mixins.scss */
.tip-success.left:before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  left: -12px;
  top: 7px;
  border-color: transparent #dbe6d2 transparent transparent;
}
/* line 46, app/styles/_mixins.scss */
.tip-success.left:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  left: -11px;
  top: 7px;
  border-color: transparent white transparent transparent;
}
/* line 55, app/styles/_mixins.scss */
.tip-success.down:before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  left: 10px;
  top: 26px;
  border-color: #dbe6d2 transparent transparent transparent;
}
/* line 62, app/styles/_mixins.scss */
.tip-success.down:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  left: 10px;
  top: 25px;
  border-color: white transparent transparent transparent;
}

/* line 43, app/styles/app.scss */
.tip-warning {
  color: #fdab39;
  border-color: white;
  background-color: white;
  white-space: nowrap;
}
/* line 23, app/styles/_mixins.scss */
.tip-warning.up:before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  top: -12px;
  left: 10px;
  border-color: transparent transparent white transparent;
}
/* line 30, app/styles/_mixins.scss */
.tip-warning.up:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  top: -11px;
  left: 10px;
  border-color: transparent transparent white transparent;
}
/* line 39, app/styles/_mixins.scss */
.tip-warning.left:before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  left: -12px;
  top: 7px;
  border-color: transparent white transparent transparent;
}
/* line 46, app/styles/_mixins.scss */
.tip-warning.left:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  left: -11px;
  top: 7px;
  border-color: transparent white transparent transparent;
}
/* line 55, app/styles/_mixins.scss */
.tip-warning.down:before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  left: 10px;
  top: 26px;
  border-color: white transparent transparent transparent;
}
/* line 62, app/styles/_mixins.scss */
.tip-warning.down:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  left: 10px;
  top: 25px;
  border-color: white transparent transparent transparent;
}

/* line 47, app/styles/app.scss */
.tip-error {
  color: #cc003a;
  border-color: #ff99b6;
  background-color: #ffe5ed;
  white-space: nowrap;
}
/* line 23, app/styles/_mixins.scss */
.tip-error.up:before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  top: -12px;
  left: 10px;
  border-color: transparent transparent #ff99b6 transparent;
}
/* line 30, app/styles/_mixins.scss */
.tip-error.up:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  top: -11px;
  left: 10px;
  border-color: transparent transparent #ffe5ed transparent;
}
/* line 39, app/styles/_mixins.scss */
.tip-error.left:before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  left: -12px;
  top: 7px;
  border-color: transparent #ff99b6 transparent transparent;
}
/* line 46, app/styles/_mixins.scss */
.tip-error.left:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  left: -11px;
  top: 7px;
  border-color: transparent #ffe5ed transparent transparent;
}
/* line 55, app/styles/_mixins.scss */
.tip-error.down:before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  left: 10px;
  top: 26px;
  border-color: #ff99b6 transparent transparent transparent;
}
/* line 62, app/styles/_mixins.scss */
.tip-error.down:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  left: 10px;
  top: 25px;
  border-color: #ffe5ed transparent transparent transparent;
}

/* line 51, app/styles/app.scss */
.tip-info {
  color: #273485;
  border-color: #97a2e1;
  background-color: #d3d7f2;
  white-space: nowrap;
}
/* line 23, app/styles/_mixins.scss */
.tip-info.up:before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  top: -12px;
  left: 10px;
  border-color: transparent transparent #97a2e1 transparent;
}
/* line 30, app/styles/_mixins.scss */
.tip-info.up:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  top: -11px;
  left: 10px;
  border-color: transparent transparent #d3d7f2 transparent;
}
/* line 39, app/styles/_mixins.scss */
.tip-info.left:before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  left: -12px;
  top: 7px;
  border-color: transparent #97a2e1 transparent transparent;
}
/* line 46, app/styles/_mixins.scss */
.tip-info.left:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  left: -11px;
  top: 7px;
  border-color: transparent #d3d7f2 transparent transparent;
}
/* line 55, app/styles/_mixins.scss */
.tip-info.down:before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  left: 10px;
  top: 26px;
  border-color: #97a2e1 transparent transparent transparent;
}
/* line 62, app/styles/_mixins.scss */
.tip-info.down:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  left: 10px;
  top: 25px;
  border-color: #d3d7f2 transparent transparent transparent;
}

/* line 55, app/styles/app.scss */
.parent-position {
  position: relative;
}

/* line 59, app/styles/app.scss */
.tip {
  position: absolute;
}
/* line 1, app/styles/icons.scss */
.icon-error {
  width: 16px;
  height: 16px;
  background: url(images/icons.png) 0px 0px no-repeat;
}

/* line 6, app/styles/icons.scss */
.icon-info {
  width: 16px;
  height: 16px;
  background: url(images/icons.png) -16px 0px no-repeat;
}

/* line 11, app/styles/icons.scss */
.icon-success {
  width: 16px;
  height: 16px;
  background: url(images/icons.png) 0px -16px no-repeat;
}

/* line 16, app/styles/icons.scss */
.icon-warning {
  width: 16px;
  height: 16px;
  background: url(images/icons.png) -16px -16px no-repeat;
}
